.field {
  font-size: 200%;
  color: #09c;
}

/* Links */

a {
  color: #09c;
  text-decoration: none;
}

a:hover {
  color: #069;
  text-decoration: underline;
}

a:visited {
  color: #069;
}

.round {
  -moz-border-radius:     10px;
  -webkit-border-radius:  10px;
  border-radius:          10px;
}

/* Footer */

footer {
  text-align: center;
  margin-top: 10px;
  width: 710px;
  margin-left: auto;
  margin-right: auto;
}


